USE [master]
GO
/****** Object:  Database [KhoaLuan]    Script Date: 5/14/2022 5:00:55 AM ******/
CREATE DATABASE [KhoaLuan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KhoaLuan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KhoaLuan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KhoaLuan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KhoaLuan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KhoaLuan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KhoaLuan]
GO
/****** Object:  Table [dbo].[BoMon]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoMon](
	[MaBoMon] [int] NOT NULL,
	[TenBoMon] [nvarchar](255) NULL,
	[MaPhongKhoa] [int] NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Fax] [nvarchar](255) NULL,
	[Website] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_BoMon] PRIMARY KEY CLUSTERED 
(
	[MaBoMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTuDien]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTuDien](
	[MaChiTietTuDien] [int] NOT NULL,
	[MaTuDien] [int] NOT NULL,
	[TenChiTietTuDien] [nvarchar](255) NULL,
	[MaParent] [int] NULL,
 CONSTRAINT [PK_ChiTietTuDien] PRIMARY KEY CLUSTERED 
(
	[MaChiTietTuDien] ASC,
	[MaTuDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoSo]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoSo](
	[MaHoSo] [bigint] NOT NULL,
	[HoTen] [nvarchar](255) NULL,
	[DonViQuanLy] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[QuanHuyen] [int] NULL,
	[TinhThanhPho] [int] NULL,
	[DiaChi] [nvarchar](255) NULL,
	[QuanHuyen2] [int] NULL,
	[TinhThanhPho2] [int] NULL,
	[CCCD] [nvarchar](50) NULL,
	[NgayCap] [date] NULL,
	[DienThoai] [nvarchar](50) NULL,
	[DiDong] [nvarchar](50) NULL,
	[Email] [nvarchar](255) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[HocVi] [nvarchar](50) NULL,
	[NgachCongChuc] [nvarchar](50) NULL,
	[ChucVuHienTai] [nvarchar](255) NULL,
	[PhongBan] [nvarchar](255) NULL,
	[Image] [nvarchar](255) NULL,
	[NgayTao] [date] NULL,
	[NgayChinhSua] [date] NULL,
 CONSTRAINT [PK_HoSo] PRIMARY KEY CLUSTERED 
(
	[MaHoSo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiTuDien]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiTuDien](
	[MaLoaiTuDien] [int] NOT NULL,
	[TenLoaiTuDien] [nvarchar](255) NULL,
 CONSTRAINT [PK_LoaiTuDien] PRIMARY KEY CLUSTERED 
(
	[MaLoaiTuDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongKhoa]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongKhoa](
	[MaPhongKhoa] [int] NOT NULL,
	[TenPhongKhoa] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Website] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_PhongKhoa] PRIMARY KEY CLUSTERED 
(
	[MaPhongKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TuDien]    Script Date: 5/14/2022 5:00:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuDien](
	[MaTuDien] [int] NOT NULL,
	[TenTuDien] [nvarchar](255) NULL,
	[MaLoaiTuDien] [int] NULL,
 CONSTRAINT [PK_TuDien] PRIMARY KEY CLUSTERED 
(
	[MaTuDien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoSo] ADD  CONSTRAINT [DF_HoSo_NgayTao]  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[HoSo] ADD  CONSTRAINT [DF_HoSo_NgayChinhSua]  DEFAULT (getdate()) FOR [NgayChinhSua]
GO
ALTER TABLE [dbo].[BoMon]  WITH CHECK ADD  CONSTRAINT [FK_BoMon_PhongKhoa] FOREIGN KEY([MaPhongKhoa])
REFERENCES [dbo].[PhongKhoa] ([MaPhongKhoa])
GO
ALTER TABLE [dbo].[BoMon] CHECK CONSTRAINT [FK_BoMon_PhongKhoa]
GO
ALTER TABLE [dbo].[ChiTietTuDien]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietTuDien_TuDien1] FOREIGN KEY([MaTuDien])
REFERENCES [dbo].[TuDien] ([MaTuDien])
GO
ALTER TABLE [dbo].[ChiTietTuDien] CHECK CONSTRAINT [FK_ChiTietTuDien_TuDien1]
GO
ALTER TABLE [dbo].[TuDien]  WITH CHECK ADD  CONSTRAINT [FK_TuDien_LoaiTuDien] FOREIGN KEY([MaLoaiTuDien])
REFERENCES [dbo].[LoaiTuDien] ([MaLoaiTuDien])
GO
ALTER TABLE [dbo].[TuDien] CHECK CONSTRAINT [FK_TuDien_LoaiTuDien]
GO
USE [master]
GO
