@charset "UTF-8";
.quangcaotrai{
	background-color: white;
	
}
.nutthem{
	top:10px;
	display: flex;
	justify-content: center;
}
.box-header{
	margin: 0 0 20px;
    padding: 0;
    text-align: center;
}
.box-title{
	position: relative;
    padding: 10px;
    width: fit-content;
    margin: auto;
    font-size: 25px;
    color: #143980;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center{
	text-align: center !important;
}
.content p{
	text-indent: 15px;
    margin-bottom: 16px;
}

p{
	text-align: justify;
}
a{
	text-decoration: none;
}
